<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="edu.umich.engin.congrats">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />﻿
    <!--For Google Play services-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--For Firebase Analytics-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <!-- Used for install referrer tracking-->
        <service android:name="com.google.android.gms.tagmanager.InstallReferrerService" />
        <receiver
            android:name="com.google.android.gms.tagmanager.InstallReferrerReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <!--Service required for receiving notifications in foreground apps-->
        <service
            android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <!--Service required for sending to specific devices or for creating device groups-->
        <service
            android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <activity
            android:name="edu.umich.engin.congrats.LaunchScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LaunchTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="edu.umich.engin.congrats.Onboarding"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <!--
                  ATTENTION: This data URL was auto-generated. We recommend that you use the HTTP scheme.
                  TODO: Change the host or pathPrefix as necessary.
                -->
                <data
                    android:host="[ENTER-YOUR-HTTP-HOST-HERE]"
                    android:pathPrefix="/onboarding"
                    android:scheme="http"/>
            </intent-filter>
        </activity>
        <activity
            android:name="edu.umich.engin.congrats.TabActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="edu.umich.engin.congrats.MainTabs.AcademicsTab"
            android:screenOrientation="portrait"/>
        <activity
            android:name="edu.umich.engin.congrats.CheckListActivity"
            android:parentActivityName="edu.umich.engin.congrats.Onboarding"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="edu.umich.engin.congrats.DisplayWebpage"
            android:label="@string/title_activity_display_webpage"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="edu.umich.engin.congrats.MainTabs.LifeAndActivitiesTab"
            android:screenOrientation="portrait"/>
        <activity
            android:name="edu.umich.engin.congrats.MainTabs.OpportunitiesTab"
            android:screenOrientation="portrait"/>
        <activity android:name="edu.umich.engin.congrats.InfoActivity"
                  android:screenOrientation="portrait">
        </activity>
        <!--  Add preview activity for Google Tag Manager. -->
        <activity
            android:name="com.google.android.gms.tagmanager.PreviewActivity"
            android:label="@string/app_name"
            android:noHistory="true">  <!-- optional, removes the previewActivity from the activity stack. -->
            <intent-filter>
                <data android:scheme="edu.umich.engin.congrats" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
    </application>

</manifest>